body {
    margin: 0px;    
    font-family: 'Mulish';
    color: #264653;
}

a:link, a:active {
    color: #264653
}

a:hover {
    color: goldenrod;
}

header {
    display: flex;
    justify-content: space-between;
    width: 98%;
    align-items: center;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    border-width: 0px;
}

button:hover {
    background-color: #AAFFAA;
}

main {
    padding: 0px 20px;
}

section {
    padding: 0px 20px;
}

nav ul {
    display: flex;
}

nav li {
    width: auto;
    list-style-type: none;
    margin-left: 30px;
    margin-right: 0px;
}

#nav_2 {
    margin-left: 0px
}

#nav_4 {
    margin-right: 40px;
}

section #art_1 {
    columns: 3;
    column-gap: 50px;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 54px;
    color: #264653;
}

#image_section article {
    margin-top: 90px;
    text-align: center;
    margin-bottom: 30px;
}

@media only screen and (max-width: 991px) {
    header {
        flex-direction: column;
        margin: 0px;
        padding-left: 0px;
    }

    nav ul {
        margin-top: -20px;
        padding-right: 0px;
    }

    section #art_1 {
        columns: 2;
        column-gap: 30px;
    }
}

@media only screen and (max-width: 630px) {
        #image_section img {
            max-width: 450px;
        }
}


@media only screen and (max-width: 450px) {
    #image_section img {
        max-width: 300px;
    }
}